lab_location        = "westus2"
lab_vnet_name       = "kv-vmss-lab-vnet"
lab_vnet_address_space = "10.10.0.0/16"
vmss_subnet_name    = "vmss-subnet"
vmss_subnet_prefix  = "10.10.1.0/24"
kv_pe_subnet_name   = "kv-pe-subnet"
kv_pe_subnet_prefix = "10.10.2.0/24"
vmss_name           = "kv-vmss-lab"
vmss_sku            = "Standard_B1ms"
admin_username      = "azureuser"
admin_password      = "ChangeMe123!"
kv_name             = "kvvmsslabkv"
tenant_id           = ""
